<div class="form-group col-md-6">
	<%= form_tag(dashboard_piechart_path) do %>
		<%= label_tag "Select month" %>
		<br>
		<div class="btn-group">
			<%= select_tag "month_select", options_for_select(this_year_months), class: "form-control" %>
		</div>
		<div class="btn-group">
			<%= submit_tag "GET", class: "btn btn-primary" %>
		</div>
	<% end %>
</div>
<%= high_chart("dashboard", @chart) %>

