
<div class="col-md-9">
  <div class = "scrollable" id="table_income" style="width:100%; max-height:400px; overflow:auto">
      <table class = "table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Category</th>
      <th>Issued_at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.amount %></td>
        <td>
          <% income.income_categories.each do |i| %>
            <%= i.name %>    
          <% end %>
        </td>
        <td><%= income.issued_at %></td>
        <td>
        <span><%= link_to 'Edit', edit_income_path(income), remote: true %></span> - 
        <span><%= link_to 'Delete', income, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
<div class="col-md-3 form" id="form_income">
  <%= render 'form', income: @income %>
</div>