<p id="notice"><%= flash[:notice] %></p>

<div class = "well" id = "course-list-header">
  <b>INCOME</b>
  <button class="btn btn-info navbar-right" id="btn_income">New_Income</button>
</div>


<div id="income">
  
<div class="col-md-9">
  <div class = "scrollable" id="table_income" style="width:100%; max-height:400px; overflow:auto; background-color: white;">

<%= form_for(@income, remote: true) do |f|%>
<table class = "table table-bordered table-hover table-responsive text-center">
  <thead>
    <tr>
      <th class="text-center">Amount</th>
      <th class="text-center">Category</th>
      <th class="text-center">Issued_at</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr id=  "incomes-<%= income.id %>"" >
        <td><%= income.amount %></td>
        <td>
          <% income.income_categories.each do |i| %>
            <%= i.name %>    
          <% end %>
        </td>
        <td><%= income.issued_at %></td>
        <td>
        <span class="edit"><%= link_to 'Edit', edit_income_path(income), class: " btn btn-primary", remote: true %></span> - 
        <span class="delete"><%= link_to 'Delete', income, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: " btn btn-primary" %>
        </td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<% end %>


  </div>
</div>
<div class="col-md-3 form" id="form_income">
  <%= render 'form', income: @income %>
</div>
</div>