
<div class="col-md-9">
  <div class = "scrollable" id="table_income_categories" style="width:100%; max-height:400px; overflow:auto; background-color: white">
        <table class = "table table-bordered table-hover table-responsive text-center">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Created_at</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @income_categories.each do |income_category| %>
      <tr>
        <td><%= income_category.name %></td>
        <td><%= income_category.created_at %></td>
        <td>
        <span><%= link_to 'Edit', edit_income_category_path(income_category), remote: true, class: "btn btn-primary" %></span> - 
        <span><%= link_to 'Delete', income_category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
<div class="col-md-3 form" id="form_income_categories">
  <%= render 'form', income_category: @income_category %>
</div>