<p id="notice"><%= flash[:notice] %></p>

<div class = "well" id = "course-list-header">
  <b>INCOME_CATEGORY</b>
  <button class="btn btn-info navbar-right" id="btn_income_categories">Income_Category</button>
</div>


<div id="income_categories">
  
<div class="col-md-9">
  <div class = "scrollable" id="table_income_categories" style="width:100%; max-height:400px; overflow:auto">
        <table class = "table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created_at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @income_categories.each do |income_category| %>
      <tr>
        <td><%= income_category.name %></td>
        <td><%= income_category.created_at %></td>
        <td>
        <span class="edit"><%= link_to 'Edit', edit_income_category_path(income_category), remote: true %></span> - 
        <span class="delete"><%= link_to 'Delete', income_category, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
    <div class="col-md-3 form" id="form_income_categories">
      <%= render 'form', income_category: @income_category %>
    </div>
</div>