<%= form_for(expenditure, remote: true) do |f| %>
  <% if expenditure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expenditure.errors.count, "error") %> prohibited this expenditure from being saved:</h2>

      <ul>
      <% expenditure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %> </br>
    <%= f.text_field :amount, id: "expense_amount"%>
  </div>
<br>
  <div class="field">
    <%= f.label :issued_at %> </br>
    <%= f.date_select :issued_at %>
  </div>
<br>

  <div class="scrollable" style="width: 100%; max-width: 250px; overflow: auto">
    <div class="field">
    <% current_user.expenditure_categories.all.each do |expenditure_category| %>
      <%= check_box_tag "expenditure[expenditure_category_ids][]", expenditure_category.id, @expenditure.expenditure_categories.include?(expenditure_category), class: "checkbox_expense" %>
        <%= expenditure_category.name %> <br/>
    <% end %>
  </div>
  </div>
<br>
  <%= f.hidden_field :User_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
