<p id="notice"><%= flash[:notice] %></p>

<div class = "well" id = "course-list-header">
  <b>EXPENSE</b>
  <a href="<%= new_expenditure_path %>" class="btn btn-info navbar-right" role="button">New Expense</a>
</div>


<table class = "table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Category</th>
      <th>Issued_at</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @expenditures.each do |expenditure| %>
      <tr>
        <td><%= expenditure.amount %></td>
        <td>
          <% expenditure.expenditure_categories.each do |e| %>
            <%= e.name %>   
          <% end %>
        </td>
        <td><%= expenditure.issued_at %></td>
        <td>
        <span><%= link_to 'Edit', edit_expenditure_path(expenditure) %></span> - 
        <span><%= link_to 'Delete', expenditure, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
